/*
Colors used:
Background Color (shade of white): #f2f2f2;
Primary Color (black): #000000;
Secondary Color (white): #ffffff;
Highlight Color-1 (cool gray): #a1bbce;
Highlight Color-2 (lighter shade of cool gray): #dbdfeb;
Box colors: #4a4a4a and #444
Hyperlinks: #185f64, #39a187
Button colors: #57b0f8

*/


 /* Layout styling */
* {
    box-sizing: border-box;
  }

.container {
  padding: 0 15px;
}

hr {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

#workindex .row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
  padding-bottom: 25px; 
  border-bottom: 1px solid #4a4a4a;
}

#workabout .row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
  padding-bottom: 25px; 
  border-bottom: 1px solid #4a4a4a;
}
#workplutpay .row {
    margin: 25px 0; /* 25px top and bottom, 0 left and right */
    padding-bottom: 25px; 
    border-bottom: 1px solid #4a4a4a;
  }


#project .row {
    margin: 25px 0; /* 25px top and bottom, 0 left and right */
    padding-bottom: 25px; 
    border-bottom: 1px solid #4a4a4a;
  }

#resume .row {
    margin: 25px 0; /* 25px top and bottom, 0 left and right */
    padding-bottom: 25px; 
    border-bottom: 1px solid #4a4a4a;
  }

#hero .row {
    margin: 25px 0; /* 25px top and bottom, 0 left and right */
    padding-bottom: 25px; 
    border-bottom: 1px solid #4a4a4a;
  }
    
/* Header, Hero and Main */
header {  
    background-color: #000000;
    padding-top: 10px;
    padding-right: 5px;
    padding-bottom: 6px;
    padding-left: 5px;
    margin: 0 auto; /* No spacing to top and bottom and auto spacing to left and right */
    position: relative;
    border-bottom: 2px solid #4a4a4a;
    box-shadow: 0px 8px 5px 0px rgba(0,0,0,0.27);
  }
  
  .logo {
    max-width: 150px;
  }

  #hero {
    background-color: #f2f2f2;
    padding: 10px 10;
    display: inline-block;
    width: 100%;;
  }

 #hero h1 {
    text-align: center; /* Centers text */
  }

  h2 {
    text-align: center; /* Centers text */
  }


  main {
    padding-top: 3px;
  }


  /* Navigation */


  .navtoggle li:not(:last-child) {
    display: none;
  }

  .navtoggle li .icon {
    position: absolute;
    right: 0;
    top: 2px;
    font-size: 20px;
  }

  .navtoggle, .navtoggle.responsive {
    position: relative;
  }

  .navtoggle.responsive li  {
    display: block;
  }

  .navtoggle.responsive nav {
    padding: 22px 0 0;
  }
  .navtoggle.responsive li  {
    display: block;
    padding: 8px 0;
    border-top: 1px solid #dbdfeb;
  }
  
  .navtoggle.responsive li:last-child  {
    padding: 0 0 10px;
  }

  nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  nav > ul > li > a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #66B7F9;
  }
 
  nav > ul > li > a:visited {/* visited link */
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #a1bbce;
}

nav > ul > li > a:hover {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #dbdfeb;
}

nav > ul > li > a:active { /* selected link */
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #a1bbce;
}

 

 /* Sets font and sizing */
body {
    background-color: #ffffff;
    font-family: 'dosis', sans-serif;
    font-size: 18px; /* Sets the font size to 18px */
    font-weight: 400; /* Sets the font weight to 200 */
    line-height: 1.5; /* Sets the line-height to 1.6 * the font-size */
    color: #000000;
  }
  
  h1, h2, h3, h4, h5 {
    line-height: 1.2;
  }
  h1 {
    font-size: 1.80em;
    font-weight: 700;
  }
  
  h2 {
    font-size: 1.55em;
    font-weight: 650;
  }
  
  h3 {
    font-size: 1.40em;
    font-weight: 600;
  }
  h4 {
    font-size: 1.25em;
    font-weight: 600;
  }

  h5 {
    font-size: 1.10em;
    font-weight: 600;
  }

  /* Sets the scaling and dimensions */

img {
    width: 100%;
    max-width: 100%;
    height: auto;
 }

 #hi img{
  float: left;
 }

 #splash {
    max-width: 80%;
 }

 #plutopay {
  margin-top: -20px;
}

   /* Hyperlinks */

  a {
    color: #3951a1;
    text-decoration: none; /* No underlining */
  }
  a:hover,
  a:focus {
    color: #185f64;
    text-decoration: underline; /* Underlining when hovering over a link */
  }
  
  a:visited { /* visited link */
    color: #444;
  }
  a:active { /* selected link */
    color: #3951a1;
  }

  /* Footer */
  #contact {
    text-align: center; /* Centers text */
  }

 /* Button, add to the botton of style sheet, otherwise it could overriden */
 #myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #66B7F9; /* Set a background color */
  outline-color: #444;
  outline-style: solid ;
  color: black; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #a1bbce; /* Add a dark-grey background on hover */
}

  .button {
    text-decoration: none;
    display: inline-block; 
    background-color: #66B7F9;
    color: #000000; /* needed to override the default link color */
    font-weight: 400;
    padding: 10px;
    border-radius: 45px;
    border-bottom: 2px solid #dbdfeb; /* width of the border, type, color */
    transition: 0.2s opacity;
    border: 2px solid #444;
    text-transform: capitalize;
    transition-duration: 0.2s;
    transition-property: opacity;
    text-align: center;
    width: 250px;
  }
  .button:hover {
    opacity: 0.8;
  }


  .button:hover {
    opacity: 0.8; /* Reduces the opacity of the button to 80% */
    color: #ffffff;
    text-decoration: none;
  }

  a:active { /* selected link */
    color: #dbdfeb;
    }

  .button.contact {
        text-decoration: none;
        display: inline-block; 
        background-color: #444;
        color: #66B7F9;
        font-weight: 400;
        padding: 10px;
        border-radius: 45px;
        border-bottom: 2px solid #dbdfeb; /* width of the border, type, color */
        transition: 0.2s opacity;
        border: 2px solid #66B7F9;
        text-transform: capitalize;
        transition-duration: 0.2s;
        transition-property: opacity;
        text-align: center;
        width: 250px;
      }
      .button.contact:hover {
        opacity: 0.8;
      }

  .button.contact:hover {
        opacity: 0.8; /* Reduces the opacity of the button to 80% */
        color: #ffffff;
        text-decoration: none;
      }
    
  a:active { /* selected link */
        color: #dbdfeb;
        }

 .center {
            text-align: center;
          }   

.prototype {
            text-align: center;
          } 
  
  .resumebutton {
            text-align: left;
          } 

/* Style the button that is used to open and close the collapsible content */

.collapsible {
  background-color: #66B7F9;
  color: #444;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  border: none;
  text-align: center;
  outline: solid;
  font-size: 18px;
  font-weight: 450;
  border-radius: 45px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #a1bbce;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #ffffff;
}

.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 10px;
  color: white;
  float: right;
  margin-left: 5px;
  border-radius: 45px;
}

.active1:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}



/* port web nav  https://freefrontend.com/css-horizontal-menus/*/

.clear{
  clear: both;
}


.slide-toggle{
  display: none;
}

.slidemenu{
  font-family: dosis, sans-serif;
  max-width: 500px;
  margin: 20px auto;
  overflow: hidden;
}

.slidemenu label{
  width: 20%;
  text-align: center;
  display: block;
  float: left;
  color: #444;
  opacity: 0.2;

}

.slidemenu label:hover{
  cursor: pointer;
  color: #44a6f7;
}


.slidemenu label span{
  display: block;
  padding: 1px;    
}

.slidemenu label .icon{
  font-size: 18px;
  border: solid 2px #444;
  text-align: center;
  height: 50px;
  width: 50px;
  display: block;
  margin: 0 auto;
  line-height: 50px;
  border-radius: 50%;
}

/*Bar Style*/

.slider{
  width: 100%;
  height: 5px;
  display: block;
  background: #797878;
  margin-top: 10px;
  border-radius: 5px;
}

.slider .bar{
  width: 25%;
  height: 5px;
  background: #66B7F9;
  border-radius: 5px;
}

/*Animations*/
.slidemenu label, .slider .bar {
  transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
}

/*Toggle*/

.slidemenu .slide-toggle:checked + label{
  opacity: 1;
}

.slidemenu #slide-item-1:checked ~ .slider .bar{ margin-left: 0; }
.slidemenu #slide-item-2:checked ~ .slider .bar{ margin-left: 20%; }
.slidemenu #slide-item-3:checked ~ .slider .bar{ margin-left: 40%; }
.slidemenu #slide-item-4:checked ~ .slider .bar{ margin-left: 60%; }
.slidemenu #slide-item-5:checked ~ .slider .bar{ margin-left: 80%; }

/*scroll containers*/

#overflowmobile {
  background: #000;
  color: rgb(12, 12, 12);
  padding: 8px;
  padding-bottom: 8px;
  width: 100%;
  height: 400px;
  overflow: scroll;
  border: 1px solid #000;
  border-bottom: 1px solid #000;
}

#overflowtablet {
  background: #000;
  color: rgb(12, 12, 12);
  padding: 8px;
  padding-bottom: 8px;
  width: 100%;
  height: 500px;
  overflow: scroll;
  border: 1px solid #000;
  border-bottom: 1px solid #000;
}

#overflowdesktop {
  background: #000;
  color: rgb(12, 12, 12);
  padding: 8px;
  padding-bottom: 8px;
  width: 100%;
  height: 500px;
  overflow: scroll;
  border: 1px solid #000;
  border-bottom: 1px solid #000;
}

#overflow_code {
  background: #000;
  color: rgb(12, 12, 12);
  padding: 8px;
  padding-bottom: 8px;
  width: 100%;
  height: 500px;
  overflow: scroll;
  border: 1px solid #000;
  border-bottom: 1px solid #000;
}


#overflow_ac {
  background: #000;
  color: rgb(12, 12, 12);
  padding: 8px;
  padding-bottom: 8px;
  width: 100%;
  height: 500px;
  overflow: scroll;
  border: 1px solid #000;
  border-bottom: 1px solid #000;
}

/*AutoScroll..https://codepen.io/JackTingleALBD/pen/yLxmqmR/*/

.menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

.menu {
  position: relative;
}

.circle-logo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #d4d1d1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color:#000
}

.circle-logo img {
  max-width: 50%;
  max-height: 50%;
}

.tabs {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tabs li {
  position: absolute;
  width: 100px;
  height: 40px;
  border-radius: 45px;
  background-color: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transform-origin: 150px 150px;
  opacity: 0;
  transition: transform 0.7s, opacity 0.3s, visibility 0.7s;
}


.menu.open .tabs li {
  opacity: 1;
  visibility: visible;
}

.menu.open .tabs li:nth-child(1) {
  transition-delay: 0s;
  transform: translate(50px, -247px) rotate(0deg);
  background-color: #000;
  box-shadow: 0px 0px 4px 0px;
  color:#fff;
}

.menu.open .tabs li:nth-child(2) {
  transition-delay: 0.1s;
  transform: translate(-50px, -150px) rotate(90deg);
  background-color: #444;
  box-shadow: 0px 0px 4px 0px;
  color:#FFF;
}

.menu.open .tabs li:nth-child(3) {
  transition-delay: 0.2s;
  transform: translate(-150px, -250px) rotate(180deg);
  background-color: #fff;
  box-shadow: 0px 0px 4px 0px;

}

.menu.open .tabs li:nth-child(4) {
  transition-delay: 0.3s;
  transform: translate(-45px, -350px) rotate(270deg);
  background-color: #66B7F9;
  box-shadow: 0px 0px 4px 0px;
}

.menu.open .tabs li:nth-child(5) {
  transition-delay: 0.4s;
  transform: translate(22px, -181px) rotate(45deg);
  background-color: #dbdfeb;
  box-shadow: 0px 0px 4px 0px;
}

.menu.open .tabs li:nth-child(6) {
  transition-delay: 0.5s;
  transform: translate(-120px, -180px) rotate(135deg);
  background-color: #b9BED1;
  box-shadow: 0px 0px 4px 0px;
}

.menu.open .tabs li:nth-child(7) {
  transition-delay: 0.6s;
  transform: translate(-120px, -320px) rotate(225deg);
  background-color: #185f64;
  box-shadow: 0px 0px 4px 0px;
}

.menu.open .tabs li:nth-child(8) {
  transition-delay: 0.7s;
  transform: translate(20px, -322px) rotate(315deg);
  background-color: #39A187;
  box-shadow: 0px 0px 4px 0px;
}



/*fade in out..https://codepen.io/tazaryoot/pen/gjEeea*/
#image1 img{
max-width: 10%;
}

.image1-wrapper {
  width: 700px;
  position
}
.gap {
  width: 100%;
  padding: 5px;
  overflow: hidden;
  position: relative;
}
.image1 {
  width: 100%;
  height: 100%;
  margin-left: 0px;
  margin-top: -15px;
  animation: MOVE-BG 12s linear infinite alternate;
  animation-name: MOVE-BG;
  animation-duration: 12s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: none;
  animation-play-state: running;
}
@-webkit-keyframes MOVE-BG {
	0% {
    transform: scale(1) translate(0, 0);
  }
	50% {
    transform: scale(1.2) translate(5px, 5px);
  }
  100% {
    transform: scale(1.3) translate(-5px,5px);
  }
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
    header {
      text-align: unset;
      padding: 20px 0 13px;
    }
  
    nav {
      width: auto;
      float: right;
      margin-top: -50px;
    }

    nav > ul {
      list-style-type: none;
      padding: 0;
      margin: 1em 0;
    }

    nav > ul > li {
      display: inline-block;
    }

    .navtoggle li:not(:last-child) {
      display: inline-block;
    }
    
    .navtoggle li:last-child {
      display: none;
    }

    #hero span {
        display: block;
    }

    .col-md-2 {
      width: 25%;
    }

    .col-md-3 {
      width: 30%;
    }
    .col-md-4 {
      width: 35%;
    }
    .col-md-5 {
        width: 40%;
      }

    .col-md-6 {
        width: 50%;
      }

    .col-md-7 {
        width: 60%;
      }

      .col-md-7 {
        width: 70%;
      }

      [class*="col-"] {
      float: left;
      padding: 5px;
}
   .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}


#about {
  text-align: center;
}

#about h2 {
    text-align: center;
}

.logo {
  max-width: 250px;
}

#profile img {
  max-width: 200px;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}  

#splash img {
    max-width: 209px;
    position: relative;
    display: block;
    margin-left: 14px;
    margin-right: auto;
}  

#top img {
  max-width: 50%;
}

#bottom img {
    max-width: 50%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  padding-top: -100px;
  margin-top: 100 0px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

#splashindex img {
  max-width: 175px;
  padding-top: 60px;
  position: relative;
  display: block;
  margin-left: 35px;
  margin-right: auto;
  text-align: right; 

}  

#presents img {
    max-width: 125px;
    margin-top: -20px;
    position: relative;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.pp {
  text-align: center; 
}

.center {
  text-align: left; 
}

.center.button {
  max-width: 100px;
}


#hi img {
    max-width: 350px;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#pluto h2 {
    text-align: left; 
}

#website h2 {
  text-align: left; 
}

#who h2 {
  text-align: center; 
  margin-top: -5px;
}

#plutopay h2 {
  text-align: left; 
}


#workindex .row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
  padding-bottom: 25px; 
  border-bottom: 1px solid #4a4a4a;
}

#workabout .row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
  padding-bottom: 25px; 
  border-bottom: 1px solid #4a4a4a;
}
#workplutpay .row {
    margin: 40px 0px; /* 25px top and bottom, 0 left and right */
    margin-bottom: -10px;
    padding-bottom: 25px; 
    border-bottom: 1px solid #4a4a4a;
  }


.button {
    max-width: 140px;
}

.button.contact {
    max-width: 140px;
    position: center;
  }

.prototype {
  padding-top: 35px;
  text-align: right; 
}

.collapsible {
  max-width: 140px;
  position: left;
}

}




/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px)  {
    .col-lg-3 {
        width: 24%;
    }
    .col-lg-4 {
        width: 30.33%;
    }
    .col-lg-5 {
        width: 45.66%;
    }

    .col-lg-6 {
      width: 50%;
      padding-bottom: 32px;
  }
    .col-lg-7 {
        width: 58.33%;
        padding-bottom: 32px;
    }
    .col-lg-12 {
        width: 100%;
        margin-top: -18px;
    }
    .col-lg-12-skills {
        width: 100%;
        margin-top: -18px;
        float: left;
        padding: 0 20px 40px;
    }

    [class*="col-"] {
      float: left;
      padding: 5px;
}
   .row::after {
    content: "";
    clear: both;
    display: table;
  }

    .container {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        padding: 0 16px;
    } 

#splash img {
    max-width: 250px;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
}  

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin-top: 100 0px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

#presents img {
     max-width: 175px;
     position: relative;
     display: block;
     margin-top: -50px;
     margin-left: auto;
     margin-right: auto;

}

#hi img {
    max-width: 450px;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#pluto h2 {
    text-align: left; 
}

#profile img {
  max-width: 225px;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.project {
    padding-bottom: 100px;
}
.designprocess1 {
    padding-top: 100px;
}

.button {
  max-width: 175px;
}

.button.contact {
  max-width: 175px;
  position: center;
}
.prototype {
  padding-top: 35px;
  text-align: right; 
}

.collapsible {
  max-width: 175px;
  position: left;
}


}

section {
  position: relative;
}

section img {
  position: absolute;
}

.top {
  animation-name: fade;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 6s;
  animation-direction: alternate;
}


@keyframes fade {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}



  #splashindex {
    position:relative;
    height:500px;
    width:250px;
    margin:0 auto;

  }
  
  #splashindex img {
    position:absolute;
    left:0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
  }
  
  #splashinex img.top:hover {
    opacity:0;
  }


  #splash {
    position:relative;
    height:500px;
    width:250px;
    margin:0 auto;

  }
  
  #splash img {
    position:absolute;
    left:0;
    -webkit-transition: opacity 2s ease-in-out;
    -moz-transition: opacity 2s ease-in-out;
    -o-transition: opacity 2s ease-in-out;
    transition: opacity 2s ease-in-out;
  }
  
  #splash img.top:hover {
    opacity:0;

  }



/* Slideshow container */
.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  margin-right: 8px;
  margin-left: -110px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #000000;
  font-size: 12px;
  padding: 30px 30px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}


