/*
Colors used:
Background Color (shade of white): #f2f2f2;
Primary Color (black): #000000;
Secondary Color (white): #ffffff;
Highlight Color-1 (cool gray): #a1bbce;
Highlight Color-2 (lighter shade of cool gray): #dbdfeb;
*/


 /* Layout styling */
* {
    box-sizing: border-box;
  }

*.container {
  padding: 0 15px;
}

#work .row {
    margin: 25px 0; /* 25px top and bottom, 0 left and right */
    padding-bottom: 25px; 
    border-bottom: 1px solid #4a4a4a;
  }

#resume .row {
    margin: 25px 0; /* 25px top and bottom, 0 left and right */
    padding-bottom: 25px; 
    border-bottom: 1px solid #4a4a4a;
  }

#hero .row {
    margin: 25px 0; /* 25px top and bottom, 0 left and right */
    padding-bottom: 25px; 
    border-bottom: 1px solid #4a4a4a;
  }
    
/* Header, Hero and Main */
header {  
    background-color: #000000;
    text-align: center;
    padding-top: 10px;
    padding-right: 5px;
    padding-bottom: 10px;
    padding-left: 5px;
    margin: 0 auto; /* No spacing to top and bottom and auto spacing to left and right */
    position: relative;
    border-bottom: 2px solid #4a4a4a;
    box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.27);
  }
  
  .logo {
    max-width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #hero {
    background-color: #f2f2f2;
    padding: 5px 5;
    display: inline-block;
    width: 100%;;
  }

 #hero h1 {
    text-align: center; /* Centers text */
  }

  h2 {
    text-align: center; /* Centers text */
  }

  main {
    padding-top: 10px;
  }


  /* Navigation */


  nav > ul {
    list-style-type: none;
    padding: 0;
  }

  nav > ul > li {
    display: inline-block;
  }

  nav > ul > li > a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #a1bbce;
  }
 
  nav > ul > li > a:visited {/* visited link */
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #4c39a1;
}

nav > ul > li > a:hover {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #185f64;
}

nav > ul > li > a:active { /* selected link */
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #a1bbce;
}


 /* Sets font and sizing */
body {
    background-color: #ffffff;
    font-family: 'dosis', sans-serif;
    font-size: 16px; /* Sets the font size to 16px */
    font-weight: 300; /* Sets the font weight to 300 */
    line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
    color: #000000;
  }
  
  h1, h2, h3, h4, h5 {
    line-height: 1.4;
  }
  h1 {
    font-size: 2.50em;
    font-weight: 600;
  }
  
  h2 {
    font-size: 2.00em;
    font-weight: 550;
  }
  
  h3 {
    font-size: 1.50em;
    font-weight: 450;
  }
  h4 {
    font-size: 1.25em;
    font-weight: 450;
  }

  h5 {
    font-size: 1.00em;
    font-weight: 450;
  }

  /* Sets the scaling and dimensions */

img {
    width: 100%;
 }

   /* Hyperlinks */

  a {
    color: #39a187;
    text-decoration: none; /* No underlining */
  }
  a:hover,
  a:focus {
    color: #185f64;
    text-decoration: underline; /* Underlining when hovering over a link */
  }
  
  a:visited { /* visited link */
    color: #4c39a1;
  }
  a:active { /* selected link */
    color: #39a187;
  }

  /* Footer */
  #contact {
    text-align: center; /* Centers text */
  }

 /* Button, add to the botton of style sheet, otherwise it could overriden */

  .button {
    text-decoration: none;
    display: inline-block; 
    background-color: #a1bbce;
    color: #000000; /* needed to override the default link color */
    font-weight: 400;
    padding: 10px;
    border-radius: 45px;
    border-bottom: 2px solid #dbdfeb; /* width of the border, type, color */
    transition: 0.2s opacity;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #a1bbce;
    text-transform: uppercase;
  }

  .button:hover {
    opacity: 0.8; /* Reduces the opacity of the button to 80% */
    color: #ffffff;
    text-decoration: none;
  }

  a:active { /* selected link */
    color: #dbdfeb;
    }

  .button.contact {
        background-color: transparent;
        color: #a1bbce;
        text-transform: uppercase;
        border: 2px solid #a1bbce;
      }

  .button.contact:hover {
        opacity: 0.8; /* Reduces the opacity of the button to 80% */
        color: #000000;
        text-decoration: none;
      }
    
  a:active { /* selected link */
        color: #dbdfeb;
        }